{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


        <div class="container mt-5 ml-auto" style="width: 500px">
            <label for="inputUsername">Username</label>
            <input style="border-radius: 10px;" type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            <label for="inputPassword">Password</label>
            <input style="border-radius: 10px;" type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <br>

            <button type="submit" class="btn btn-primary" style="border-radius: 10px;">Sign in</button>
            or
            <a href="{{ path('register_user') }}"><button type="button" class="btn btn-danger" style="border-radius: 10px;">Register</button></a>
        </div>


</form>
{% endblock %}
