<div class="footer">
    <p>&copy; Thomas ROBERT Symfony 5 Project</p>
</div>

<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #343a40;
        color: white;
        text-align: center;
    }
</style>