{% extends 'base.html.twig' %}

{% block body %}

    <center>
        <div class="container" style="margin-top: 7%; ">
            <br><center><h2 class="mt-3">{{ "Find movies by genre !" | trans }}</h2></center><br>
            <div class="row">
                {% for genre in genres %}
                    <div class="col-md-3 mt-2">
                        <div class="list-group">
                            <a href="{{path('order.genre', {genre: genre['id']})}}" class="list-group-item list-group-item-action" style="border-radius: 10px;">{{ genre['name'] }}</a>
                       </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </center>

{% endblock %}