{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container" style="width: 500px; margin-top: 13%">
        {{ form(form) }}
    </div>
{% endblock %}