{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">

        <center>
            <h1 class="mt-1">{{ "Users list"|trans}}</h1>
        </center>

        <div class="row">
            {% for user in users%}
                <div class="col-md-4">
                    {% include 'user/_users.html.twig' %}
                </div>
            {% endfor %}
        </div>

        <div class="pagination pagination-sticky justify-content-center" style="margin-bottom: 2%; margin-top: 2%;">
            {{ knp_pagination_render(users) }}
        </div>

    </div>
{% endblock %}

