{% extends 'base.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 10%">
        <center>
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ "Feedback" |trans }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ "Feedbacks Panel"|trans }}</h4>
                    <p class="card-text">{{ "Add new feedback or read them."|trans }}</p>
                        <a href="#"><button type="button" class="btn btn-info">Create</button></a>
                        <a href="#"><button type="button" class="btn btn-success">Edit</button></a>
                        <a href="#"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
        </center>
    </div>


{% endblock %}
